Бизнес-требования:
1. Инструмент должен отображать тип треугольника согласно введённым данным

Пользовательские требования
1. После того, как пользователь открыл программу, должно появиться окно ввода
    сторон треугольника
2. Если пользователь ввёл данные, отличные от положительных числовых или
    выходящие за рамки возможностей вычислительной техники, должно выводиться 
    сообщение об ошибке
3. Если пользователь ввёл данные, с попощью которых нельзя представить
    треугольник, должно выводиться сообщение с этим предупреждением
4. Если введённые данные верны, но проведение процедуры оценки типа треугольника
    с этими данными ограничено ресурсами вычислительной техники, должно
    выводиться сообщение с таким предупреждением
5. Тип треугольника должен выводиться на экран отдельным сообщением

Функциональные требования:
1. Программа должна оценивать корректность введённых данных
2. Программа должна оценивать возможность работы с введёнными данными
3. Программа должна обладать адаптивным дизайном
4. Возможные входные значения - положительные целые, ограниченные сверху
    размерностью числа с плавающей точностью двойной точности
