Бизнес-требования:
1. Программа производит чтение трёх целых чисел, которые интерпретируются как 
    длины сторон треугольника и печатает сообщение о том, является ли 
    треугольник неравносторонним ("Triangle is scalene"), равнобедренным 
    ("Triangle is isosceles") или равносторонним ("Triangle is equilateral")

Пользовательские требования
1. После того, как пользователь открыл программу, на экране должно появиться 
    окно ввода сторон треугольника
2. Если пользователь ввёл данные, отличные от положительных числовых или
    выходящие за рамки допустимых входных значений, должно выводиться сообщение 
    об ошибке "Invalid data typed"
3. Если пользователь ввёл данные, с помощью которых нельзя представить
    треугольник, должно выводиться сообщение с предупреждением "Values specified 
    don't represent triangle"
4. Если введённые данные верны, но проведение процедуры оценки типа треугольника
    с этими данными ограничено ресурсами вычислительной техники, должно
    выводиться сообщение с предупреждением "Triangle sides are too large"
5. Тип треугольника должен выводиться на экран отдельным сообщением

Функциональные требования:
1. Программа должна оценивать корректность введённых данных
2. Программа должна оценивать возможность работы с введёнными данными
3. Программа должна обладать адаптивным дизайном
4. Возможные входные значения - положительные целые числа, ограниченные сверху
    значением 18446744073709551615 (2^64 - 1)

Нефункциональные требования:
1. В программе должны отсутствовать утечки памяти
2. Должно отсутствовать аварийное завершение работы программы из-за введённых 
    данных
